.input {
    width: 100%;
    padding: 5px 10px;
    border: 2px solid green;
    border-radius: 10px;
    margin-bottom: 10px;
}

.input[type="password"] {
    color: red;
}

.input-moderno {
    border: none;
    border-bottom: 1px solid gainsboro;
    outline: none;
    padding: 5px;
    color: grey;
}

.input-moderno:focus {
    border-bottom: 1px solid grey;
}

.input-moderno::placeholder {
    color: gainsboro;
}

.input-background {
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    box-shadow: 0 0 10px gainsboro;
}

.input-background::placeholder {
    color: grey;
}

.input-search {
    padding: 10px;
    padding-left: 50px;
    border: none;
    background-color: white;
    border-radius: 8px;
    margin: 10px;
    background-image: url(../img/lupa.jpg);
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: contain;
}

textarea {
    /* resize: both; */
    /* resize: horizontal; */
    /* resize: vertical; */
    resize: none;
}

select {
    width: 100%;
    padding: 15px;
    background-color: gainsboro;
}