div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    background-color: white;
}

.static {
    position: static; /* Por defecto */
}

/* Posicionamiento relativo:
Se posiciona en relaci贸n con su posici贸n original */
.relative {
    position: relative;
    left: 80px;
    margin-left: 10px;
}

/* Posicionamiento fijo:
Se posiciona en relaci贸n a la pantalla */
.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: greenyellow;
    z-index: 10; /* Capa a la que pertenece (superior) */
}

/* Posicionamiento absoluto:
Se posiciona en relaci贸n con su elemento padre */
.absolute {
    position: absolute;
    bottom: 30px;
    right: 0px;
}

.relative.contenedor {
    width: 300px;
    height: 400px;
    background-color: blue;
}

/* Posicionamiento "pegagoso":
Al hacer scroll modifica su posicion de relative a fixed */
.sticky {
    position: sticky;
    background-color: darksalmon;
    color: white;
    top: 0px;
    z-index: 2;
}